<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uctc_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/send"
        android:label="UCTC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uctc_app"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.pages.admin.user_list.UserListAdminAdapterActivity"></activity>
        <activity android:name=".ui.pages.admin.proposal.ProposalAdapter" />
        <activity android:name=".ui.pages.staff.StaffMainActivity" />
        <activity android:name=".ui.pages.admin.AdminMainActivity" />
        <activity android:name=".ui.pages.user.adapter.CommiteeAdapter" />
        <activity android:name=".ui.pages.user.adapter.DocumentationAdapter" />
        <activity android:name=".ui.pages.user.adapter.RecentEventAdapter" />
        <activity android:name=".ui.pages.user.adapter.EventAdapter" />
        <activity android:name=".ui.pages.user.UserMainActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>